* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: Quicksand;
	background-color: white;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 0 50px;
	transition: .3s;
	color: white;
	/* background: rgb(0,0,0,0.8); */
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .logo{
	padding: 22px 20px;
	float: left;
	font-size: 24px;
	transition: .3s;
    font-family: 'Nunito', sans-serif;
	color: #1B9CFC;
}

nav ul{
	list-style: none;
	display: flex;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	color: #151515;
	padding: 12px 30px;
	text-decoration: none;
	transition: .3s;
	color: #8a8a8a;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;  
}

header.black nav ul li a{
	color: #8a8a8a;
}
nav ul li a:focus{
	outline: none;
}
nav ul li a.active{
    border-bottom: 3px solid #1B9CFC;
}

header.black {
	height: 50px;
	background-color: #FFF;
	color: #8a8a8a;
	box-shadow: 0 0 5px 0 lightslategray;
}

header nav ul li a:hover{
	background: #1B9CFC;
	color: #ffff;
}
	.icon-menu {
		height: 25px;
		width: 25px;
		background-image: url("../imagenes/menu.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		display: none;
	}

.banner{
	width: 100%;
	height:85vh;
	background-image: url("../imagenes/banner.png");
	background-size: cover;
	background-position: center;
	margin-top: 100px;
}
.Services{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.Title-section, .Title-portfolio{
	width: 90%;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Nunito', sans-serif;
	margin: 0 auto;
}
.Title-section span h2{
	border-bottom: 3px solid #08A3CC;
	 color: #e36800;
}
.Service{
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	border-radius: 5px;
}
.Service:hover{
	background-color:#08a3cc;
	color: white;
}
.Service:hover .text-service{
	color: white;
}
.image-service{
	margin: 0 auto;
	margin-top: 20px;
	width: 100px;
	height: 100px;
}
.image-service img , .image-nosotros img{
	width: 100%;
}
.title-service{
	width: 100%;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}
.text-service{
	color: #464444;
	text-align: justify;
	width: 90%;
  font-family: 'Tajawal', sans-serif;
	font-size: 1.1em;
	margin: 0 auto;
}
.contenedor-nosotros{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.nosotros{
	width: 32%;
	height: 300px;
	margin-top: 30px;
}
 .image-nosotros{
	 margin: 0 auto;
	 width: 90px;
	 height: 90px;
 }
 .text-nosotros{
	 font-family: 'Tajawal', sans-serif;
	 text-align: center;
	 width: 90%;
	 margin: 0 auto;
	 margin-top: 20px;
 }
 .portfolio{
 	text-align: center;
 	width: 100%;
 	height: 500px;
 	background-color:black;
 	margin-bottom: 20px;
	  position: relative;
	display: flex;
	align-items: center;
 }
 .img-portfolio{
 	width: 100%;
 	position: absolute;
 	height: 100%;
	opacity: 0.9;
 }
 .img-portfolio img {
  width: 100%;
  height: 100%;
 }
 .container-text-portfolio{
  z-index: 50;
  position: absolute;
  width: 100%;
  text-align: center;
  vertical-align: text-bottom;
	/* top: 40%; */
	font-family: 'Nunito', sans-serif;
 }
 .title-portfolio,.text-portfolio{
	 color: white;
	 text-shadow: 2px 2px 1px black;
	 font-weight: bold;
	 font-size: 30px;
 }
 .text-portfolio{
	 font-size: 25px;
 }

 @media screen and (max-width: 990px) {
	nav ul {
		display: none;
	}
	.icon-menu {
		display: block;
	}
 }

 @media screen and (max-width: 766px) {
	 header {
		padding: 0 25px;
	 }
	 header.black {
		 height: 65px;
	 }
 }