
			{% extends 'plantillas/cuerpo.html'%}

			{%block cuerpo %}
			<section class="banner"></section>
			<section class="Services">
				<div class="Title-section">
					<span><h2>Servicios</h2></span>
				</div>
				<div class="Service">
					<div class="image-service">
						<img src="{{ url_for('static', filename='imagenes/programacion.png') }}" alt="">
					</div>
					<div class="title-service">
						<h3>Desarrollo web</h3>
					</div>
					<div class="text-service">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</div>
				</div>
				<div class="Service">
					<div class="image-service">
						<img src="{{ url_for('static', filename='imagenes/consultoria.png') }}" alt="">
					</div>
					<div class="title-service">
						<h3>Consultoría tecnológica</h3>
					</div>
					<div class="text-service">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</div>
				</div>
				<div class="Service">
					<div class="image-service">
						<img src="{{ url_for('static', filename='imagenes/hardware.png') }}" alt="">
					</div>
					<div class="title-service">
						<h3>Soluciones de Hardware</h3>
					</div>
					<div class="text-service">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</div>
				</div>
				<div class="Service">
					<div class="image-service">
						<img src="{{ url_for('static', filename='imagenes/software.png') }}" alt="">
					</div>
					<div class="title-service">
						<h3>Desarrollo de software</h3>
					</div>
					<div class="text-service">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</div>
				</div>
				<div class="Service">
					<div class="image-service">
						<img src="{{ url_for('static', filename='imagenes/database.png') }}" alt="">
					</div>
					<div class="title-service">
						<h3>Bases de datos</h3>
					</div>
					<div class="text-service">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</div>
				</div>
				<div class="Service">
					<div class="image-service">
						<img src="{{ url_for('static', filename='imagenes/tecnico.png') }}" alt="">
					</div>
					<div class="title-service">
						<h3>Servicio tecnico</h3>
					</div>
					<div class="text-service">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</div>
				</div>
			</section>
			<section class="contenedor-nosotros">
				<div class="Title-section">
					<span><h2>Sobre nuestra empresa</h2></span>
				</div>
				<div class="nosotros">
					<div class="image-nosotros">
						<img src="{{ url_for('static', filename='imagenes/vision.png') }}" alt="">
					</div>
					<div class="text-nosotros">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					</div>
				</div>
				<div id="centro" class="nosotros">
					<div class="image-nosotros">
						<img src="{{ url_for('static', filename='imagenes/origen.png') }}" alt="">
					</div>
					<div class="text-nosotros">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					</div>
				</div>
				<div class="nosotros">
					<div class="image-nosotros">
						<img src="{{ url_for('static', filename='imagenes/nosotros.png') }}" alt="">
					</div>
					<div class="text-nosotros">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					</div>
				</div>
			</section>
			{%endblock%}
