<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito|Tajawal" rel="stylesheet">
		<title></title>
		<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script type="text/javascript">
			$(window).on('scroll', function(){
				if ($(window).scrollTop()) {
					$('header').addClass('black');
				}else {
					$('header').removeClass('black');
				}
			})
		</script>
	</head>
	<body>
		<div class="container">
			<header>
				<div class="logo">LOGO</div>
				<nav>
					<div class="icon-menu"></div>
					<ul>
						<li><a class="active" href="#">Inicio</a></li>
						<li><a href="/#NuestrosServicios">Servicios</a></li>
						<li><a href="tecnologias.html">Tecnologías usadas</a></li>
						<li><a href="portafolio.html">Portafolio</a></li>
						<li><a href="contactó.html">Contacto</a></li>
					</ul>
				</nav>
			</header>
      {%block cuerpo %}

      {%endblock%}
    </body>
  </html>
